* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #aab9fd;
}

.card {
    width: 80vw;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 32px;
}

.card_size_small {
    width: 40vw;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.content {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.person {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.person__photo {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 16px;
}

.person__name {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

.person__git {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.git__image {
    width: 30px;
    aspect-ratio: 1;
}

.button {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 30px;
    background-color: #3366ff;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
}
