.menu__item_admin {
    aspect-ratio: unset;
}

.menu__item-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__buttons {
    display: flex;
    gap: 8px;
}