<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Brigade 14</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="card">
            <h1 class="title">Brigade 14</h1>

            <div class="content">
                <a class="person" href="/person/1">
                    <img class="person__photo" src="/pasha.jpg" />
                    <div class="person__name">Pasha</div>
                </a>

                <a class="person" href="/person/2">
                    <img class="person__photo" src="/vanya.jpg" />
                    <div class="person__name">Vanya</div>
                </a>

                <a class="person" href="/person/3">
                    <img class="person__photo" src="/vika.jpg" />
                    <div class="person__name">Vika</div>
                </a>

                <a class="person" href="/person/4">
                    <img class="person__photo" src="/oleh.jpg" />
                    <div class="person__name">Oleh</div>
                </a>
            </div>
        </div>
    </body>
</html>
