<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Orders list</title>
        <link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/order.css" />
    </head>
    <body>
        <div class="container">
            <div class="order card">
                <div class="order__header">
                    <h1 class="title">Orders</h1>
                    <a href="/admin/menu" class="order__menu-button">Back to menu</a>
                </div>

                <div class="order__list">
                    <% orders.forEach(orderItem => { %>
                    <div class="order__item card">
                        <span class="order__name"><%= orderItem.name %></span>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
</html>
